
// -------------------------BRANDING AND WEBSITE SECTION --------------------

.brandingAndWebsite{
    background-color: $accentColor;
}

.contentContainer{
    display:flex;
    flex-wrap:wrap;
    margin: 75px;
    justify-content: center;
}

.imgContainer{
    margin: 50px;
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}
.overlayImg{
    position: absolute;
    top: -75px;
    left: 50px;
}

.infoContainer{
    padding: 25px;
    width: calc(50% - 50px);
    text-align: center;
}

@media(max-width: 540px){
    .infoContainer {
    width: 100%;
    }
}





// ---------------------GALLERY SECTION ----------------------

.galleryImg{
    border-radius: 50%;
}

.galleryContent{
    width: 80%;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

figcaption{
    margin: 20px auto;
    padding: 0px 150px;
    text-align: center;
}

.galleryArrow{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galleryArrow:hover{
    transform: scale(2);
}

@media(max-width: 1050px){
    figcaption {
    padding: 0px 25px;
    }
}


// ---------------------SERVICES SECTION-------------------

.services{
    background-image: url(../assets/home-4.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.services .gridContainer{
    width: 60%;
    display: flex;
    flex-wrap:wrap;
    margin: 60px 0px 60px auto;
}

.services .gridItem{
    width: 50%;
    margin: 30px 0px;
    display: flex;
    align-items: center;
}

.gridItemContent{
    margin: 0px 40px;
}


.services i{
    padding: 15px;
    border-radius: 50%;
    border: 3px solid $dark;
}

@media (max-width: 1500px){
        .gridItemContent {
        margin: 0px 15px;
    }
}


@media (max-width: 1300px){
        .gridItemContent {
        margin: 0px 15px;
    }

    .services .gridItem {
        margin: 15px 15px;
        width: 45%;
    }
    .services .gridContainer {
        width: 100%;
        background-color: #ffffff9d;
    }
}

@media (max-width: 850px){
        .services .gridItem {
        width: 100%;
    }
}

@media (max-width: 400px){
        .gridContainer i {
        display: none;
    }
}

// ---------------------MEET OUR TEAM SECTION---------------


.sectionHeader{
    text-align: center;
    width: 100%;
}

.teamProfile .gridContainer{
    display: flex;
    flex-wrap:wrap;
    padding: 30px;
}   

.gridLarge{
    background-color: $light;
    margin: 15px;
    width: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.gridLarge h2, .gridLarge p{
    padding: 10px 20px 30px 20px;
}

.gridSmall{
    min-width: 200px;
    margin: 15px;
    width: calc(25% - 30px);
    max-width: calc(25% -30px);
}

.gridSmall img{
    width: 100%;
}


@media (max-width: 1226px){
    .gridLarge{
        width: 100%;
    }
}

@media (max-width: 936px){
    .gridSmall{
        width: calc(33% - 30px);
    }
    .gridContainer{
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 660px){
    .gridSmall{
        width:100%;
    }
}






// --------------------VIEW PORTFOLIO SECTION--------------

.portfolio{
    background-color: $accentColor;
    display: flex;
}

.portfolioContent{
    min-height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h2{
    margin-bottom: 40px;
}


.portfolioImg{
    width: 50%;
    background-image: url(../assets/home-4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio button{
    border:none;
    background-color: $light;
    padding: 20px 30px;
    margin:20px;
    font-family: Montserrat, sans-serif;
    font-weight:bold;
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
}











