a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  color: #333333;
  font-family: OpenSans, sans-serif;
}

body {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
}

.wrapper {
  width: 80%;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 3.9rem;
  font-weight: bold;
  letter-spacing: 0.9px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  padding: 20px 0px;
}

input {
  border: none;
}

b {
  font-weight: bold;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blogHeader {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/blog-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navIcon {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 0 25px;
          flex: 0.5 0 25px;
}

.navHeader {
  -webkit-box-flex: 5;
      -ms-flex: 5 0 250px;
          flex: 5 0 250px;
}

nav a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mobileNav {
  display: none;
  width: 100%;
  height: 60px;
}

@media (max-width: 680px) {
  nav {
    display: none;
  }
  .mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.brandingAndWebsite {
  background-color: #C3DAB7;
}

.contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgContainer {
  margin: 50px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.brandingImg {
  position: relative;
}

.brandingImg::before {
  content: url(../assets/home-circle-text.png);
  position: absolute;
  left: 40px;
}

.infoContainer {
  padding: 25px;
  width: calc(50% - 50px);
  text-align: center;
}

@media (max-width: 540px) {
  .infoContainer {
    width: 100%;
  }
}

.galleryImg {
  border-radius: 50%;
}

.galleryContent {
  width: 80%;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

figcaption {
  margin: 20px auto;
  padding: 0px 150px;
  text-align: center;
}

.galleryArrow {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryArrow:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media (max-width: 1050px) {
  figcaption {
    padding: 0px 25px;
  }
}

.services {
  background-image: url(../assets/home-4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .gridContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0px 60px auto;
}

.services .gridItem {
  width: 50%;
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridItemContent {
  margin: 0px 40px;
}

.services i {
  padding: 15px;
  border-radius: 50%;
  border: 3px solid #333333;
}

@media (max-width: 1500px) {
  .gridItemContent {
    margin: 0px 15px;
  }
}

@media (max-width: 1300px) {
  .gridItemContent {
    margin: 0px 15px;
  }
  .services .gridItem {
    margin: 15px 15px;
    width: 45%;
  }
  .services .gridContainer {
    width: 100%;
    background-color: #ffffff9d;
  }
}

@media (max-width: 850px) {
  .services .gridItem {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .gridContainer i {
    display: none;
  }
}

.sectionHeader {
  text-align: center;
  width: 100%;
}

.teamProfile .gridContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}

.gridLarge {
  background-color: #F6F6F6;
  margin: 15px;
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gridLarge h2, .gridLarge p {
  padding: 10px 20px 30px 20px;
}

.gridSmall {
  min-width: 200px;
  margin: 15px;
  width: calc(25% - 30px);
  max-width: calc(25% -30px);
}

.gridLink {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridSmall img {
  width: 100%;
}

@media (max-width: 1226px) {
  .gridLarge {
    width: 100%;
  }
}

@media (max-width: 936px) {
  .gridSmall {
    width: calc(33% - 30px);
  }
  .gridContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 660px) {
  .gridSmall {
    width: 100%;
  }
}

.portfolio {
  background-color: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolioContent {
  min-height: 500px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio h2 {
  margin-bottom: 40px;
}

.portfolioImg {
  width: 50%;
  background-image: url(../assets/home-4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio button {
  border: none;
  background-color: #F6F6F6;
  padding: 20px 30px;
  margin: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
}

.allCaps {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.6rem;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}

.blogHeading {
  width: 100%;
  padding: 40px 0px;
  margin: 20px 0px;
}

.blogMetaData, .commentHeader {
  width: 100%;
  border-bottom: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.blogAuthor {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blogAuthor figure img {
  border-radius: 50%;
}

.blogAuthor figcaption {
  padding: 0px 20px;
}

.blogInfo {
  width: calc(50%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogSocialMedia {
  padding: 20px 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogSocialMedia li {
  margin: 0 5px;
}

.sectionHeading {
  width: 100%;
  border-bottom: 1px solid gray;
}

.relatedBlogContainer, .commentSectionContainer, .submitCommentContainer {
  width: 100%;
}

.commentSectionContainer {
  margin-bottom: 60px;
}

.relatedPostsGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px;
}

.postLink {
  width: calc(33% - 20px);
  min-width: 300px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postLink figure {
  width: 100%;
  margin: 10px;
}

.postLink figcaption {
  width: 100%;
  padding: 0px;
  text-align: left;
}

.commentContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.commentBox {
  background-color: #F6F6F6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.commentAuthor, .commentContent {
  margin: 10px 0px;
}

.commentImg {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentForm input[type=text],
.commentForm input[type=email]
.contactForm input[type=text],
.contactForm input[type=email] {
  width: 30%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.commentForm input[type=text]:focus,
.commentForm input[type=email]:focus,
.contactForm input[type=text]:focus,
.contactForm input[type=email]:focus,
textarea:focus {
  border-bottom: 1px solid black;
  color: black;
}

textarea {
  width: 100%;
  margin: 40px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  resize: none;
}

label {
  display: none;
}

.commentForm button {
  background-color: none;
}

.contactHeader nav {
  background-color: white;
  width: 100%;
}

.contactHeader {
  background-color: white;
  background-image: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
}

.contactHeading {
  width: 100%;
  background-image: url(../assets/contact-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  position: relative;
}

.contactHeading h1 {
  position: absolute;
  line-height: 40px;
  bottom: -36px;
  left: 10%;
}

.contactUs {
  margin: 125px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contactDetails {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactSectionHeader {
  width: 45%;
}

.contactInfo {
  margin: 75px 0;
  width: 100%;
}

.contactInfoContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInfoItem {
  width: calc(33%-80px);
  padding: 0 40px;
  border-right: 1px solid gray;
}

footer {
  background-color: #333333;
  color: #F6F6F6;
}

footer section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section div {
  width: 30%;
  height: 100%;
}

footer .footerBlog ul li {
  list-style: inside;
  margin-top: 1.0rem;
}

footer h2 {
  margin-bottom: 40px;
}

.footerContact {
  line-height: 1.5rem;
}

.footerSocialMedia {
  padding: 20px 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerSocialMedia li {
  margin: 5px;
}

.footerBlog h2 {
  text-align: center;
}

.footerSubscribe h2 {
  text-align: right;
}

.footerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footerForm p {
  width: 100%;
}

input[type=email] {
  padding: 10px 20px;
  width: 75%;
}

input[type=submit] {
  border: none;
  background-color: #C3DAB7;
  padding: 10px 20px;
}

.footerBranding {
  margin: 0;
  width: 100%;
  border-top: 1px solid rgba(169, 169, 169, 0.3);
  text-align: center;
}

.footerBranding h2 {
  margin: 0;
  padding: 20px 0px;
}

@media (max-width: 1030px) {
  .footerBlog {
    display: none;
  }
  .footerContact, .footerSubscribe {
    width: 50%;
  }
}

@media (max-width: 760px) {
  .footerContact, .footerSubscribe {
    width: 100%;
  }
}

@media (max-width: 680px) {
  nav {
    display: none;
  }
  .mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1030px) {
  .footerBlog {
    display: none;
  }
  .footerContact, .footerSubscribe {
    width: 50%;
  }
}

@media (max-width: 760px) {
  .footerContact, .footerSubscribe {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .infoContainer {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  figcaption {
    padding: 0px 25px;
  }
}

@media (max-width: 1500px) {
  .gridItemContent {
    margin: 0px 15px;
  }
}

@media (max-width: 1300px) {
  .gridItemContent {
    margin: 0px 15px;
  }
  .services .gridItem {
    margin: 15px 15px;
    width: 45%;
  }
  .services .gridContainer {
    width: 100%;
    background-color: #ffffff9d;
  }
}

@media (max-width: 850px) {
  .services .gridItem {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .gridContainer i {
    display: none;
  }
}

@media (max-width: 1226px) {
  .gridLarge {
    width: 100%;
  }
}

@media (max-width: 936px) {
  .gridSmall {
    width: calc(33% - 30px);
  }
  .gridContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 660px) {
  .gridSmall {
    width: 100%;
  }
}
